body
{
  
  margin: 300px;
  font-family: "Times New Roman", Times, serif;
  color: white;
  background-color: purple;
  font-size: 360%;
}

h6
{
  font-family:  "Palatino Linotype", Times, serif;
}